.main-bar
  .main-bar__top
    .main-bar__top__user-info
      %p.main-bar__top__user-info__group-name 
      = @group_name
      
      %p.main-bar__top__user-info__group-member  
        Member :
        - @group.users.each do |user|
          = user.name

    =link_to edit_group_path(current_user) do
      .main-bar__top__Edit-btn Edit

  .main-bar__message-box
    = render @messages

  .main-bar__form
    .main-bar__form__main-header
      .form
        = form_for [@group, @message] do |f|
          =f.text_field :content, class: 'main-bar__form__main-header__left', placeholder: 'type a message'
          .form__mask
            =f.label :image, class: 'main-bar__form__main-header__left__input-box__image' do
              = icon('fas', 'image') 
              = f.file_field :image, class: 'main-bar__form__main-header__left__input-box__image__file'
          = f.submit 'Send', class: 'main-bar__form__main-header__Send-btn' 
